body {
    background-color: lightgray;
}
.btn {
    background-color:rgb(80, 73, 73);
    border: none;
    color:rgb(219, 215, 215);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 100px;
}
.DivWithButton {
    margin: 5px;
}
.btn-disabled
{
    background-color: darkgray;
}