body {
    background-color: lightgray;
}
.btn {
    background-color:rgb(80, 73, 73);
    border: none;
    color:rgb(219, 215, 215);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 100px;
    min-height: 15px;
}
.DivWithButton {
    margin: 5px;
}
.btn-disabled
{
    background-color:rgb(153, 153, 153);
}
#showScore {
    background-color: lightgray ;
    border: none;
    border-bottom: rgb(80, 73, 73) solid 1px ;
}
.btn:hover {
    background-color: orangered;
}
#showScore:focus {
    border: none;
    outline: none ;
    border-bottom: orangered solid 1px;
}
